<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- add key="Sol3Get" value="https://keithbarrows.pkgs.visualstudio.com/_packaging/packages/nuget/v3/index.json" / -->
    <add key="AppVeyor" value="https://ci.appveyor.com/nuget/sol3" />
  </packageSources>
</configuration>